* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #0f172a;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "nav header"
    "nav dashboard ";
  grid-template-columns: 30rem 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5.6rem;
  height: 10rem;
  padding: 1.2rem 2.4rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.hello {
  color: #e5e7eb;
  font-weight: 600;
  font-size: 3.6rem;
}

.whatTimeOfTheDay {
  color: #9ca3af;
  font-size: 1.8rem;
}
.call-to-action {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.notification {
  outline: 1px solid #e5e7eb;
  padding: 1.8rem;
  border-radius: 9px;
}

.fa-bell {
  font-size: 1.8rem;
  color: #e5e7eb;
  cursor: pointer;
}
.currentUserStatus {
  display: flex;
  outline: 1px solid #e5e7eb;
  border-radius: 9px;
  padding: 1rem 2rem;
  align-items: center;
  gap: 2.4rem;
}

.fa-user {
  color: #e5e7eb;
  font-size: 1.6rem !important;
}

.fullname-of-currentLoggedIn {
  color: #e5e7eb;
  font-size: 1.6rem;
}
.role-of-currentLoggenIn {
  color: #9ca3af;
  font-size: 1.2rem;
}
.fa-circle-chevron-down {
  color: #e5e7eb;
  cursor: pointer;
  font-size: 1.6rem !important;
}
nav {
  grid-area: nav;
  background-color: #111827;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.2rem 2.4rem;
  position: sticky;
  top: 0;
  overflow-y: auto;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}
.logo-and-name {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: 1.8rem;
}
.logo-and-name img {
  width: 3.6rem;
}
.name {
  font-size: 1.6rem;
  color: #e5e7eb;
  font-weight: 900;
}
.links {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 100ms ease;
  padding: 1.2rem 2.4rem;
}
.fa-solid {
  font-size: 2.4rem;
}
.link:hover {
  background-color: #0f172a;
  border-radius: 7px;
}
.link:focus {
  color: #7c3aed;
  background-color: #e5e7eb;
  border-radius: 7px;
  margin-left: 2rem;
  position: relative;
  overflow: hidden;
}
.link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  background-color: #7c3aed;
  border-radius: inherit;
}
.theme-selection {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  outline: 1px solid #e5e7eb;
  border-radius: 5px;
}
.light-mode {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  /* justify-content: center; */
}
.fa-sun,
.fa-moon {
  color: #e5e7eb;
}
.light,
.dark {
  color: #e5e7eb;
  font-size: 1.6rem;
  font-weight: 500;
}
.light-mode:hover {
  background-color: #e5e7eb;
}
.dark-mode {
  display: flex;
  align-items: center;
  background-color: #7c3aed;
  padding: 1.2rem 2.4rem;
  gap: 1.2rem;
  cursor: pointer;
}

.dashboard {
  grid-area: dashboard;
  overflow-y: auto;
  padding: 2.4rem;
}

.dashboard-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
  height: 100%;
}

.stat-grid {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  padding: 1.2rem;
  height: 100%;
}
.employee-count {
  /* background-color: #855598; */
  border: 1px solid #e5e7eb4c;
  border-radius: 5px;
  grid-row: 1;
  grid-column: 1;
}
.justCover {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-bottom-style: double;
  border-bottom-color: #e5e7eb4c;
}
.stat-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stat-icons .fa-users,
.stat-icons .fa-briefcase,
.stat-icons .fa-calendar {
  color: #7c3aed;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  border: 1px solid #e5e7eb;
  padding: 1.6rem 2.4rem;
  border-radius: 5px;
  text-align: center;
}
.te,
.ta,
.tatt,
.tp {
  font-size: 1.6rem;
  color: #e5e7eb;
}
.countAndPercent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countOfEmployee,
.countOfApplicant,
.countOfAttendance,
.countOfProjects {
  color: #e5e7eb;
  font-size: 2.4rem;
  font-weight: 700;
}
.percentChange {
  color: #e5e7eb;
  font-size: 1.6rem;
  background-color: #358553;
  border-radius: 5px;
  padding: 1rem 2rem;
}
.fa-sort-up {
  color: #86efac;
  display: flex;
  align-items: center;
}
.update-time {
  padding: 1.2rem;
}
.time-update {
  color: #e5e7eb;
  font-size: 1.2rem;
}

.applicant-count {
  grid-row: 1;
  grid-column: 2;
  border: 1px solid #e5e7eb4c;
  border-radius: 5px;
}

.attendance-count {
  border: 1px solid #e5e7eb4c;
  border-radius: 5px;
  grid-row: 2;
  grid-column: 1;
}

.project-count {
  border: 1px solid #e5e7eb4c;
  border-radius: 5px;
  grid-row: 2;
  grid-column: 2;
}

.my-Schedule {
  background-color: #6badc8;
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 5;
  grid-column-end: 7;
}
.schedule-header {
}
.title {
}
.fa-calendar {
}
.attendance-View {
  background-color: #debdb5;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 5;
}
.attendance-overview {
}

/* -bg-page:        #0F172A;
  --bg-card:        #111827;
  --bg-elevated:    #1F2933;

   Borders 
  --border-default: #374151;
  --border-hover:   #4B5563;

  Text 
  --text-primary:   #E5E7EB;
  --text-secondary: #9CA3AF;
  --text-muted:     #6B7280;

 Primary Actions 
  --btn-primary:    #22C55E;
  --btn-hover:      #16A34A;
  --btn-active:     #15803D;
  --btn-disabled:   #4ADE80;
 Links 
  --link-default:   #60A5FA;
  --link-hover:     #3B82F6;

  Status / Feedback 
  --error-text:     #F87171;
  --error-bg:       #7F1D1D;

  --success-text:   #86EFAC;
  --success-bg:     #14532D;

  --warning-text:   #FBBF24;
  --warning-bg:     #78350F;

 Hover 
  --hover-bg:       #1F2937; */
